/* Panel base */
.panel{
    --panel-color:var(--mlt-sys-color-principal-5);
}

.panel .panel-heading{
    border-radius: var(--mlt-sys-border-radius-4) var(--mlt-sys-border-radius-4) 0 0;
    border-width: var(--mlt-sys-width-1);
    border-style: solid;
    background-color:var(--panel-color);
    color:var(--mlt-sys-color-blanco-9);
    border-color:var(--panel-color);
}
.panel .panel-body{
    margin-bottom: var(--mlt-sys-margin-5);
    border-radius: 0 0 var(--mlt-sys-border-radius-4) var(--mlt-sys-border-radius-4);
    border-width: var(--mlt-sys-width-1);
    border-style: solid;
    background-color:var(--mlt-sys-color-blanco-9);
    color:var(--mlt-sys-color-negro-9);
    border-color:var(--panel-color);
}

.panel--principal{
    --panel-color:var(--mlt-sys-color-principal-5);
}
.panel--alternativa{
    --panel-color:var(--mlt-sys-color-alternativo-5);
}
.panel--peligrosa{
    --panel-color:var(--mlt-sys-color-rojo-5)
}


