

<style>
  
</style>

<main class="main">
    <button matButton="filled">Hola</button>
    <button matButton="text">Hola</button>
    <mat-divider></mat-divider>
    <button matButton="outlined">Hola</button>
    <button matButton="elevated">Hola</button>
    <mat-divider></mat-divider>
    <button matButton="tonal">Hola</button>
    <mat-divider></mat-divider>
    
  <boton [importanciaBoton]="'primaria'" [funcionBoton]="'principal'">Hola mundo</boton>
    <mat-divider></mat-divider>
  <boton [importanciaBoton]="'secundaria'" [funcionBoton]="'alternativa'">Hola mundo</boton>
    <mat-divider></mat-divider>
  <boton [importanciaBoton]="'terciaria'" [funcionBoton]="'peligrosa'">Hola mundo</boton>

    <mat-divider></mat-divider>

    <progreso  [title]="titleProgreso" [value]="porcentaje" />
    <button (click)="handleOnClick()">Incrementar</button>
    <panel [importancia]="'primary'"></panel>
    
  <p class="borde w-sm">holaaaa</p>
</main>
<router-outlet />
