

.boton {
  font-family: sans-serif;
  font-size: 16px;
  padding: 6px;
 
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
 
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
 
  border-color: var(--boton-border-color);
  background-color: var(--boton-background-color);
  color: var(--boton-text-color);

  --boton-color-strong:var(--mlt-sys-color-principal-5);
  --boton-color-weak:var(--mlt-sys-color-blanco-9);

  --boton-background-color:var(--boton-color-strong);
  --boton-border-color:var(--boton-color-strong);
  --boton-text-color:var(--boton-color-weak);

}

.funcion--principal {
  --boton-color-strong: var(--mlt-sys-color-principal-5);
}
.funcion--alternativa {
  --boton-color-strong: var( --mlt-sys-color-alternativo-5);
}
.funcion--peligrosa {
  --boton-color-strong: var(--mlt-sys-color-rojo-5);
}

.importancia--primaria {
  --boton-background-color: var(--boton-color-strong);
  --boton-border-color: var(--boton-color-strong);
  --boton-text-color: var(--boton-color-weak);
}

.importancia--secundaria {
  --boton-background-color: var(--boton-color-weak);
  --boton-border-color: var(--boton-color-strong);
  --boton-text-color: var(--boton-color-strong);
}

.importancia--terciaria {
  --boton-background-color: var(--boton-color-weak);
  --boton-border-color: var(--boton-color-weak);
  --boton-text-color: var(--boton-color-strong);
}
